body {
    color: rgb(138, 138, 138);
    font-family:monospace;
    font-size: 20px;
  }

  #foto {
    height: 300px;
    border-radius: 150px;
    margin: 30px;
    padding: 30px;
  }

  ol, li, ul {
    list-style: none;
    text-decoration-color: none;
    color:  rgb(138, 138, 138);
  }

  a {
    text-decoration: none;
  }

  .cabecalho {
    background-color: white;
    display: flex;
    align-items: center;
    /*position: fixed;*/
    width: 100%;
  }

  .cabecalho-nome {
    margin: 20px;
    padding: 20px;
  }

  .cabecalho-nome h1, .cabecalho-nome h3 {
    padding: 0px;
    margin: 0px;
  }

  .botao-paginas {
    margin: 20px;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: right;    
  }
  
  .botao-paginas a:hover {
    background-color:rgb(224, 224, 224);
    border-radius: 50%;
  }
  
  .social {
    padding: 15px;
  }

  .painel {
    background-color: rgb(224, 224, 224);
    display: flex;
    align-items: center;
  }

  .sobre-mim {
    font-size: 15px;
    text-align: justify;
  }

  .apresentacao-painel h1 {
    font-size: 80px;
  }

  .botao-painel li{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }

 

  .painel_conhecimento {
    background-color: rgb(255, 126, 197); 
  }

  .painel_habilidades {
    background-color: rgb(213, 255, 59); 
  }

  .painel_trabalhos {
    background-color: rgb(128, 237, 252);
  }

  .botao-painel li:hover{
    background-color:rgb(255, 134, 86);
  }



  .painel_1 {
    background-color: rgb(255, 126, 197);  
  }

  .painel_1 p {
    font-size: 30px;
    padding: 15px;
    margin: 5px;
  }

  .painel_1 ul {
    font-size: 20px;
    padding: 15px;
    margin: 5px;
    margin-left: 50px;
  }

  .painel_2 {
    background-color: rgb(213, 255, 59);
  }

  .painel_2 p {
    font-size: 30px;
    padding: 15px;
    margin: 5px;
  }

  .painel_2 ul {
    font-size: 20px;
    padding: 15px;
    margin: 5px;
    margin-left: 50px;
  }

  .painel_2 h5 {
    font-size: 20px;
    margin: 5px 0px 5px -15px;
  }

  
  .painel_2 a:hover{
    font-weight: bold;
    font-size: 25px;
  }

  .painel_3 {
    background-color: rgb(128, 237, 252); 
  }

  .painel_3 p {
    font-size: 30px;
    padding: 15px;
    margin: 5px;
  }

  .painel_3 ul {
    font-size: 20px;
    padding: 15px;
    margin: 5px;
    margin-left: 50px;
  }

  .painel_3 a:hover{
    font-weight: bold;
    font-size: 25px;
  }

  .painel_4 {
    background-color: rgb(255, 134, 86); 
    justify-content: center;
    align-items: center;
    display: inline-block;
    width: 100%;
    
  }

  .painel_4 p {
    font-size: 20px;
    padding: 15px;
  }

  .painel_4 iframe {
    padding: 30px;
    margin-left: 150px;
  }

 